<%= form_for :comment, url: comment_path(@comment), method: :patch,
             data: { turbo: false } do |f| %>
  <div class="card mb-3 shadow-sm border" style="border-radius: 13px;">
    <div class="card-body">
      <h4>Редактирование комментария</h4>
      <form>
        <div class="mb-2 mt-2">
          <%= f.label :body, 'Текст', class: "form-label" %>
          <%= f.text_area :body, size: '40x5',
                          placeholder: 'Написать комментарий...',
                          class: 'form-control' %>
        </div>
        <div class="mb-1">
          <%= f.submit 'Сохранить', class: 'btn btn-outline-primary' %>
        </div>
      </form>
    </div>
  </div>
<% end %>
