<div class="card mb-3 shadow-sm border" style="border-radius: 13px;">
  <div class="card-body">
    <div class="list-group">
      <%= link_to articles_path(@user, section: 'friends'),
                  class: "list-group-item-action p-0 text-decoration-none py-1 text-dark rounded",
                  data: {turbo: false} do %>
        <div class="d-flex align-items-center">
          <span class="nav-link-text">Друзья</span>
        </div>
      <% end %>

      <%= link_to articles_path(@user, section: 'subscriptions'),
                  class: "list-group-item-action p-0 text-decoration-none py-1 text-dark rounded",
                  data: {turbo: false} do %>
        <div class="d-flex align-items-center">
          <span class="nav-link-text">Подписки</span>
        </div>
      <% end %>

      <%= link_to articles_path(@user, section: 'followers'),
                  class: "list-group-item-action p-0 text-decoration-none py-1 text-dark rounded",
                  data: {turbo: false} do %>
        <div class="d-flex align-items-center">
          <span class="nav-link-text">Подписчики</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
