
<%= form_for :article, url: article_path(@article), method: :PUT, data: { turbo: false } do |f| %>
  <div class="card mb-3 shadow-sm border" style="border-radius: 13px;">
    <div class="card-body">
      <h4>Редактирование публикации</h4>
      <form>
        <div class="mb-2 mt-2">
          <%= f.label :text, 'Текст', class: "form-label" %>
          <%= f.text_area :text, size: '40x5', placeholder: 'Введите текст публикации',
                          class: 'form-control' %>
        </div>
        <div class="mb-1">
          <%= f.submit 'Сохранить', class: 'btn btn-outline-primary' %>
        </div>
      </form>
    </div>
  </div>
<% end %>
