<section class="mb-4">
  <div class="card bg-white shadow-sm border" style="border-radius: 13px">
    <div class="card-body pb-0">
      <%= render partial: 'articles/content', locals: { articles: [@article] } %>
    </div>
    <div class="card-body pt-0" id="comments">
      <!-- Comment form -->
      <%= render partial: 'comments/form', locals: { instance: @article } %>
      <!-- Comments -->
      <%= render partial: 'comments/index', locals: { comments: @comments} %>
    </div>
  </div>
</section>
