<div class="row mx-auto">
  <div class="container">
    <div class="container px-0">
        <footer class="py-3 border-top">
          <a class="text-decoration-none text-muted" href="https://github.com/vladkostikov/socialist">
            © 2023 Vladislav Kostikov
          </a>
        </footer>
    </div>
  </div>
</div>
