<div class="list-group me-1 pt-1">
  <%= link_to current_user || new_user_session_path,
              class: "list-group-item-action p-0 text-decoration-none py-1 text-dark rounded",
              data: {turbo: false} do %>
    <div class="d-flex align-items-center">
      <i class="bi bi-person-circle me-1" style="color: #447bba"></i>
      <span class="nav-link-text">Моя страница</span>
    </div>
  <% end %>

  <%= link_to feed_path,
              class: "list-group-item-action p-0 text-decoration-none py-1 text-dark rounded",
              data: {turbo: false} do %>
    <div class="d-flex align-items-center">
      <i class="bi bi-file-post me-1" style="color: #447bba"></i>
      <span class="nav-link-text">Новости</span>
    </div>
  <% end %>

  <% if current_user %>
    <% friends_path = user_friends_path(current_user) %>
  <% else %>
    <% friends_path = new_user_session_path %>
  <% end %>
  <%= link_to friends_path,
              class: "list-group-item-action p-0 text-decoration-none py-1 text-dark rounded",
              data: {turbo: false} do %>
    <div class="d-flex align-items-center">
      <i class="bi bi-people-fill me-1" style="color: #447bba"></i>
      <span class="nav-link-text">Друзья</span>
    </div>
  <% end %>

  <%= link_to bookmarks_path,
              class: "list-group-item-action p-0 text-decoration-none py-1 text-dark rounded",
              data: {turbo: false} do %>
    <div class="d-flex align-items-center">
      <i class="bi bi-bookmark-fill me-1" style="color: #447bba"></i>
      <span class="nav-link-text">Закладки</span>
    </div>
  <% end %>
</div>
